{% extends "main.html" %}
{% block main_content %}

<div class="bg-gray-800 text-center flex flex-col" style="">
    <div class="">
        <h1 class="text-lg font-bold border-b mx-4 pb-2">Edit Profile</h1>
        <form class="flex flex-col items-start">
            <div class="m-2 ml-8 flex flex-row justify-center items-center">
                <div class="flex flex-col mr-4">
                    <img src="{{ user.pfp_src or "https://avatars.githubusercontent.com/u/31815875?v=4" }}"
                        style="width:55px;height:55px;">
                    <label for="profile">Profile pic</label>
                </div>
                <input type="file" name="profile" />
            </div>
            <div class="m-2 ml-8">
                <label for="username">Username</label>
                <input type="text" name="username" />
            </div>
            <div class="m-2 ml-8">
                <label for="email">Email</label>
                <input type="email" name="email" />
            </div>
            <button
                class="mt-4 ml-4 rounded border-white bg-blue-500 px-4 py-1 text-sm font-semibold hover:border-transparent hover:bg-white hover:text-teal-500"
                type="submit">
                Submit
            </button>
        </form>
    </div>
    <div class="flex flex-col">
        <h1 class="text-lg font-bold border-b mx-4 pb-2">Your profile</h1>
        <div class="flex flex-row items-center">
            <p class="m-4">Verified:</p>
            <input type="checkbox" value="{{ user.verified }}" />
        </div>
        <div class="flex flex-row items-center">
            <p class="m-4">Banned:</p>
            <input type="checkbox" value="{{ user.banned }}" />
        </div>
        <div class="flex flex-col items-start">
            <p class="text-md font-bold m-4"> Achievements</p>
            <ul class="ml-4">
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Huge achievements</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Even more Huge achievements</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
                <li class="bg-yellow-400 border-2 border-md px-2 mb-2 w-max">Lurker</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
