{% macro comment_form(post_url, post_id) -%}
<form class="mb-2 pb-2" id="upload-form" hx-encoding='multipart/form-data' hx-post="{{ post_url }}"
    hx-target="#post-{{post_id}}-comments"
    hx-swap="replace">
    <input type="text" class="w-full rounded border p-1 mb-2 text-black" name="content" placeholder="write comment pls" />
    <input type="file" name='file'>
    <button
        class="ml-4 rounded border-white bg-blue-500 px-4 py-1 text-sm font-semibold hover:border-transparent hover:bg-white hover:text-teal-500"
        type="submit">
        Submit
    </button>
</form>
{%- endmacro %}
